{%extends 'base.html'%}

{% block content %}
{{block.super}}
<br><br>

<div class="container-fluid">
 
    <h1 class="text-center">Welcome Home</h1>
    
    <div class="row">
        {% for pros in pro %}
        <div class="col-md-4">
            
            <div class="card-group">
                <div class="card">
                    <p>{{user.username}}</p>
                    <a href="{% url 'project_details' pros.id %}">
                        <img src="{{ pros.image.url }}"class="card-img-top responsive" alt="Personal">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Title: {{pros.title}}</h5>
                        <p class="card-text">Description: {{pros.description}}</p>
                        <p class="card-text">Category: {{pros.category}}</p>
                        <p class="card-text">Category: {{pros.location}}</p>
                        <a href="{{project.url}}" class="btn btn-outline-dark bg-dark text-white rounded-pill">View Project</a>

                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Date: {{pros.date|date}}</small>
                    </div>
                    <div class="card-footer">
                        <form action="/project/project/">
                            <input type="submit" class="btn btn-outline-dark bg-dark text-white rounded-pill" value="Post a Project" />
                        </form>
                    </div>
                </div>

            </div>
            
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}